.address {
  text-align: center;
  word-break: break-all;
}

.qr {
  display: block;
  margin: 0 auto;
  width: 100%;
  max-width: 300px;
  max-height: 300px;
}

mat-drawer mat-nav-list mat-icon.mat-list-icon {
  color: gray;
  margin-right: 1em;
}
