<mat-drawer-container>
  <mat-drawer #drawer class="mat-elevation-z16">
    <mat-toolbar class="mat-elevation-z4 top-toolbar">
      <img class="icon" src="{{photoUrl$ | async}}" />
      <span>{{currentWalletName$ | async}}</span>
      <span class="fill-remaining-space"></span>
      <button mat-icon-button routerLink="/account/wallets" matTooltip="{{translation.wallets[lang]}}">
        <mat-icon>account_balance_wallet</mat-icon>
      </button>
    </mat-toolbar>
    <div fxLayout="column">
      <mat-nav-list>
        <mat-list-item routerLink="/contacts">
          <mat-icon mat-list-icon>contacts</mat-icon>
          {{translation.contacts[lang]}}
        </mat-list-item>
      </mat-nav-list>
      <mat-divider></mat-divider>
      <mat-nav-list>
        <mat-list-item routerLink="/account/settings">
          <mat-icon mat-list-icon>brightness_5</mat-icon>
          {{translation.setting[lang]}}
        </mat-list-item>
      </mat-nav-list>
    </div>
  </mat-drawer>
  <mat-drawer-content>
    <mat-toolbar class="mat-elevation-z4 top-toolbar">
      <img class="icon" src="assets/images/lcnem.svg" />
      <span>LCNEM Wallet</span>
      <span class="fill-remaining-space"></span>
      <app-language-menu></app-language-menu>
    </mat-toolbar>
    <div class="mat-typography body-container">
      <mat-tab-group>
        <mat-tab label="NEM">
          <app-nem></app-nem>
        </mat-tab>
        <mat-tab label="NEM Cosmos" [disabled]="true">
        </mat-tab>
        <mat-tab label="Bitcoin" [disabled]="true">
        </mat-tab>
      </mat-tab-group>
    </div>
    <button mat-fab color="accent" class="floating-action-button" (click)="drawer.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
  </mat-drawer-content>
</mat-drawer-container>