<mat-sidenav-container>
  <mat-sidenav></mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar class="mat-elevation-z4 top-toolbar">
      <button mat-icon-button (click)="back()">
        <mat-icon>arrow_back</mat-icon>
      </button>

      <span>{{translation.transfer[lang]}}</span>
      <span class="fill-remaining-space"></span>
      <button mat-icon-button routerLink="/transactions/scan">
        <mat-icon>center_focus_strong</mat-icon>
      </button>
    </mat-toolbar>
    <div class="mat-typography body-container">
      <mat-spinner *ngIf="loading; else loaded"></mat-spinner>
      <ng-template #loaded>
        <form #form="ngForm" (ngSubmit)="transfer()">
          <mat-card>
            <app-nem-address-input fxFill [(ngModel)]="forms.recipient" name="recipient" placeholder="{{translation.recipient[lang]}}"
              required></app-nem-address-input>
          </mat-card>
          <br />
          <mat-card>
            <mat-form-field fxFill>
              <input matInput placeholder="{{translation.message[lang]}}" [(ngModel)]="forms.message" name="message"
                [required]="forms.encrypt">
              <mat-slide-toggle fxFill matSuffix [(ngModel)]="forms.encrypt" name="encrypt">{{translation.encryption[lang]}}</mat-slide-toggle>
            </mat-form-field>
          </mat-card>
          <br />
          <mat-card>
            <mat-list>
              <div fxLayout="row">
                <h3 mat-subheader>{{translation.assets[lang]}}</h3>
                <span class="fill-remaining-space"></span>
                <button mat-icon-button color="accent" type="button" (click)="pushAsset()">
                  <mat-icon>add</mat-icon>
                </button>
              </div>
              <ng-container *ngFor="let asset of forms.transferAssets; let i = index">
                <mat-list-item>
                  <mat-form-field class="fill-remaining-space">
                    <mat-select color="accent" placeholder="{{translation.assetName[lang]}}" [(ngModel)]="asset.index"
                      name="asset{{i}}-name" required>
                      <ng-container *ngFor="let assetId of assetIds; let j = index">
                        <mat-option *ngIf="assetIsNotReady(assetId) || asset.index == j" [value]="j">{{assetId}}</mat-option>
                      </ng-container>
                    </mat-select>
                  </mat-form-field>
                  <mat-form-field class="fill-remaining-space">
                    <input matInput color="accent" placeholder="{{translation.amount[lang]}}" [(ngModel)]="asset.amount"
                      name="asset{{i}}-amount" required pattern="\d+(\.\d+)?" />
                  </mat-form-field>
                  <button mat-icon-button color="warn" type="button" (click)="removeAsset(i, true)">
                    <mat-icon>clear</mat-icon>
                  </button>
                </mat-list-item>
              </ng-container>
            </mat-list>
            <app-assets-list [title]="translation.balance[lang]" [assets]="assets"></app-assets-list>
          </mat-card>
          <br />
          <div fxLayout="row">
            <span class="fill-remaining-space"></span>
            <button mat-raised-button type="button" [disabled]="form.invalid" (click)="share()" *ngIf="navigatorShare">{{translation.share[lang]}}</button>
            <button mat-raised-button color="accent" [disabled]="form.invalid">{{translation.transfer[lang]}}</button>
          </div>
        </form>
      </ng-template>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>