<mat-sidenav-container>
  <mat-sidenav></mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar class="mat-elevation-z4 top-toolbar">
      <button mat-icon-button (click)="back()">
        <mat-icon>arrow_back</mat-icon>
      </button>

      <span>{{translation.transfer[lang]}}</span>
      <span class="fill-remaining-space"></span>
      <button mat-icon-button routerLink="/transactions/scan">
        <mat-icon>center_focus_strong</mat-icon>
      </button>
    </mat-toolbar>
    <div class="mat-typography body-container">
      <mat-spinner *ngIf="loading; else loaded"></mat-spinner>
      <ng-template #loaded>
        <form #form="ngForm" (ngSubmit)="transfer()">
          <mat-card>
            <mat-form-field fxFill>
              <input matInput placeholder="{{translation.recipient[lang]}}" [(ngModel)]="forms.recipient" name="recipient"
                [matAutocomplete]="nemSuggest" (change)="onRecipientChange()" required pattern="N[A-Z2-7]{39}">
              <mat-error>{{translation.addressRequired[lang]}}</mat-error>
            </mat-form-field>
            <mat-autocomplete #nemSuggest="matAutocomplete">
              <mat-option *ngFor="let suggest of suggests" [value]="suggest">{{suggest}}</mat-option>
            </mat-autocomplete>
          </mat-card>
          <br />
          <mat-card>
            <mat-form-field fxFill>
              <input matInput placeholder="{{translation.message[lang]}}" [(ngModel)]="forms.message" name="message"
                [required]="forms.encrypt">
              <mat-slide-toggle fxFill matSuffix [(ngModel)]="forms.encrypt" name="encrypt">{{translation.encryption[lang]}}</mat-slide-toggle>
            </mat-form-field>
          </mat-card>
          <br />
          <mat-card>
            <app-assets-list [assets]="assets"></app-assets-list>
            <br />
            <div *ngFor="let asset of forms.transferAssets; let i = index; let l = last" fxLayout="row">
              <mat-form-field fxFlex="50">
                <mat-select color="accent" placeholder="{{translation.assetName[lang]}}" [(ngModel)]="asset.index" name="asset{{i}}-name"
                  required>
                  <ng-container *ngFor="let assetId of assetIds; let j = index">
                    <mat-option *ngIf="assetIsNotReady(assetId) || asset.index == j" [value]="j">{{assetId}}</mat-option>
                  </ng-container>
                </mat-select>
              </mat-form-field>
              <div fxFlex="50" fxLayout="row">
                <mat-form-field class="fill-remaining-space">
                  <input matInput color="accent" placeholder="{{translation.amount[lang]}}" [(ngModel)]="asset.amount"
                    name="asset{{i}}-amount" required pattern="\d+(\.\d+)?" />
                </mat-form-field>
                <button mat-icon-button color="warn" type="button" (click)="spliceAsset(i)" *ngIf="!l">
                  <mat-icon>clear</mat-icon>
                </button>
                <button mat-icon-button color="accent" type="button" (click)="pushAsset()" *ngIf="l">
                  <mat-icon>add</mat-icon>
                </button>
              </div>
            </div>
          </mat-card>
          <br />
          <div fxLayout="row">
            <span class="fill-remaining-space"></span>
            <button mat-raised-button type="button" [disabled]="form.invalid" (click)="share()" *ngIf="navigatorShare">{{translation.share[lang]}}</button>
            <button mat-raised-button color="accent" [disabled]="form.invalid">{{translation.transfer[lang]}}</button>
          </div>
        </form>
      </ng-template>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>