<h2 mat-dialog-title>{{translation.confirmation[lang]}}</h2>
<mat-dialog-content>
  <app-assets-list [title]="translation.amount[lang]" [assets]="assets"></app-assets-list>
  <mat-list>
    <h3 mat-subheader>{{translation.fee[lang]}}</h3>
    <mat-divider></mat-divider>
    <mat-list-item matTooltip="nem:xem">
      <img mat-list-icon src="assets/data/nem/xem.svg" />
      <span mat-line>nem:xem</span>
      <small mat-line></small>
      <span class="fill-remaining-space"></span>
      <span class="right">{{Math.floor(transaction.fee) / 1000000}}<br />XEM</span>
    </mat-list-item>
    <mat-divider></mat-divider>
    <ng-container *ngIf="data.message">
      <h3 mat-subheader>{{translation.message[lang]}}</h3>
      <mat-divider></mat-divider>
      <mat-list-item>
        <span>{{translation.encryption[lang]}} </span>
        <span class="fill-remaining-space"></span>
        <span class="right">
          <mat-icon *ngIf="transaction.message.isEncrypted()">check</mat-icon>
          <mat-icon *ngIf="transaction.message.isPlain()">close</mat-icon>
        </span>
      </mat-list-item>
      <mat-divider></mat-divider>
      <p class="message">{{data.message}}</p>
    </ng-container>
  </mat-list>
  <app-assets-list [title]="translation.levy[lang]" [assets]="levy" *ngIf="levy && levy.length"></app-assets-list>
</mat-dialog-content>
<mat-dialog-actions>
  <span class="fill-remaining-space"></span>
  <button mat-raised-button mat-dialog-close color="warn">Cancel</button>
  <button mat-raised-button [mat-dialog-close]="true" color="accent">OK</button>
</mat-dialog-actions>