<mat-list>
  <h3 mat-subheader>{{title}}</h3>
  <mat-divider></mat-divider>
  <ng-container *ngFor="let asset of _assets">
    <mat-list-item matTooltip="{{asset.name}}">
      <div mat-list-icon class="background-contain" [ngStyle]="{'background-image': 'url(' + asset.imageUrl + ')'}"></div>
      <span mat-line>{{asset.name}}</span>
      <small mat-line>{{asset.issuer}}</small>
      <span class="fill-remaining-space"></span>
      <span class="right">{{asset.amount}}<br />{{asset.unit}}</span>
    </mat-list-item>
    <mat-divider></mat-divider>
  </ng-container>
</mat-list>
