<mat-toolbar color="primary" class="mat-elevation-z4">
  <button mat-icon-button routerLink="/">
    <mat-icon>arrow_back</mat-icon>
  </button>

  <span>{{translation.transfer[global.lang]}}</span>
  <span class="fill-remaining-space"></span>
  <button mat-icon-button routerLink="/transactions/scan">
    <mat-icon>center_focus_strong</mat-icon>
  </button>
</mat-toolbar>
<div class="out-toolbar">
  <mat-spinner *ngIf="loading; else loaded"></mat-spinner>
  <ng-template #loaded>
    <form #form="ngForm" (ngSubmit)="transfer()">
      <mat-card>
        <mat-form-field fxFill>
          <input matInput placeholder="{{translation.recipient[global.lang]}}" [(ngModel)]="recipient" name="recipient"
            [matAutocomplete]="auto" (change)="onRecipientChange()" required>
          <mat-error>{{translation.addressRequired[global.lang]}}</mat-error>
        </mat-form-field>
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let autoComplete of autoCompletes" [value]="autoComplete">{{autoComplete}}</mat-option>
        </mat-autocomplete>
      </mat-card>
      <mat-card>
        <mat-form-field fxFill>
          <input matInput placeholder="{{translation.message[global.lang]}}" [(ngModel)]="message" name="message"
            [required]="encrypt">
          <mat-slide-toggle fxFill matSuffix [(ngModel)]="encrypt" name="encrypt">{{translation.encryption[global.lang]}}</mat-slide-toggle>
        </mat-form-field>
      </mat-card>
      <div fxLayout="row wrap" fxLayoutAlign="center">
        <ng-container *ngFor="let asset of transferAssets; let i = index">
          <mat-card *ngIf="asset.visible" fxFlex="25" fxFlex.sm="50" fxFlex.xs="100">
            <mat-card-content>
              <mat-form-field fxFill>
                <input matInput type="number" placeholder="{{asset.name}}" [(ngModel)]="transferAssets[i].amount"
                  name="amount{{i}}" min="0" required>
              </mat-form-field>
              <app-assets-list [title]="translation.balance[global.lang]" [assets]="[asset.asset]"></app-assets-list>
            </mat-card-content>
            <mat-card-actions>
              <button mat-button fxFill color="warn" type="button" (click)="transferAssets[i].visible = false">
                <mat-icon>close</mat-icon>
              </button>
            </mat-card-actions>
          </mat-card>
        </ng-container>
        <mat-card fxFlex="100">
          <button mat-button type="button" color="accent" (click)="changeTransferAssets()" fxFill>
            <mat-icon>add</mat-icon>
          </button>
        </mat-card>
      </div>
      <button fxFill mat-raised-button color="accent" [disabled]="form.invalid">{{translation.transfer[global.lang]}}</button>
    </form>
  </ng-template>
</div>