<h2 mat-dialog-title>{{data.title}}</h2>
<mat-dialog-content>
  <mat-selection-list #selectionList>
    <h3 mat-subheader>{{translation.assets[global.lang]}}</h3>
    <mat-divider></mat-divider>
    <ng-container *ngFor="let asset of assets">
      <mat-list-option matTooltip="{{asset.name}}" [value]="asset.name">
        <div mat-list-icon class="background-contain" [ngStyle]="{'background-image': 'url(' + asset.imageUrl + ')'}"></div>
        <span mat-line>{{asset.name}}</span>
        <small mat-line>{{asset.issuer}}</small>
      </mat-list-option>
      <mat-divider></mat-divider>
    </ng-container>
  </mat-selection-list>
</mat-dialog-content>
<mat-dialog-actions>
  <span class="fill-remaining-space"></span>
  <button mat-raised-button mat-dialog-close color="warn">Cancel</button>
  <button mat-raised-button [mat-dialog-close]="selectionList.selectedOptions.selected"
    color="accent">OK</button>
</mat-dialog-actions>