<mat-sidenav-container>
  <mat-sidenav></mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar class="mat-elevation-z4 top-toolbar">
      <button mat-icon-button (click)="global.back()">
        <mat-icon>arrow_back</mat-icon>
      </button>

      <span>{{translation.deposit[global.lang]}}</span>
      <span class="fill-remaining-space"></span>
    </mat-toolbar>
    <div class="mat-typography body-container">
      <form #form="ngForm" (ngSubmit)="deposit()">
        <mat-form-field fxFill>
          <mat-select placeholder="{{translation.currency[global.lang]}}" [(ngModel)]="selectedCurrency" name="selectedCurrency"
            required>
            <mat-option *ngFor="let c of supportedCurrencies" [value]="c">{{c}}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field fxFill>
          <input matInput placeholder="{{translation.amount[global.lang]}}" [(ngModel)]="amount" name="amount" required
            minlength="{{minimum[selectedCurrency].toString().length}}" pattern="[1-9][0-9]*" />
          <mat-error>min {{minimum[selectedCurrency]}}</mat-error>
        </mat-form-field>

        <mat-form-field fxFill>
          <mat-select placeholder="{{translation.method[global.lang]}}" [(ngModel)]="method" name="method" required>
            <mat-option value="paypal">{{translation.paypal[global.lang]}}</mat-option>
          </mat-select>
        </mat-form-field>
        <button mat-raised-button color="accent" fxFill [disabled]="form.invalid">{{translation.deposit[global.lang]}}</button>
      </form>
      <pre><code>
        <ng-container *ngIf="global.lang == 'ja'">
※特定商取引法に基づく表記
1.事業者名　　　　　株式会社LCNEM
2.代表責任者名　　　木村優
3.所在地          京都市上京区油小路中立売下る甲斐守町９７ 西陣産業創造會舘２階
4.お問い合わせ　　　弊社HPよりお問い合わせください。
4.提供サービス名　　LCNEM WALLET
4.ホームページURL  https://lcnem.cc
5.商品等の販売価格　購入手続きの際に画面に表示されます。　　　
※購入に関する詳細は利用規約をご確認ください。
6.入金方法　　　　　銀行振込のみ
※大口購入の場合は、ボーナス（購入額の１％）を付与させていただきます。
7.出金手数料　　　　500JPY(lcnem)
        </ng-container>
      </code></pre>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>