<div fxLayout="row" fxLayoutAlign="center center">
  <h3>{{translation.cosignatoryOf[lang]}}</h3>
  <span class="fill-remaining-space"></span>
  <button mat-icon-button color="accent" (click)="load(true)" [disabled]="loading$ | async">
    <mat-icon>refresh</mat-icon>
  </button>
</div>
<mat-card *ngIf="multisig$ | async as state">
  <mat-spinner [diameter]="60" *ngIf="loading$ | async; else loaded"></mat-spinner>
  <ng-template #loaded>
    <mat-list *ngIf="state.addresses.length; else empty">
      <mat-divider></mat-divider>
      <ng-container *ngFor="let address of state.addresses">
        <mat-list-item>
          <span>{{address.pretty()}}</span>
        </mat-list-item>
        <mat-divider></mat-divider>
      </ng-container>
    </mat-list>
    <ng-template #empty>
      <p class="empty">{{translation.empty[lang]}}</p>
    </ng-template>
  </ng-template>
</mat-card>