<mat-spinner *ngIf="loading$ | async; else loaded"></mat-spinner>
<ng-template #loaded>
  <mat-card *ngIf="state$ | async as state">
    <mat-toolbar>
      <span class="fill-remaining-space"></span>
      <button mat-icon-button color="accent" (click)="load(true)">
        <mat-icon>refresh</mat-icon>
      </button>
    </mat-toolbar>
    <mat-list>
      <mat-divider></mat-divider>
      <ng-container *ngFor="let address of state.multisigs">
        <mat-list-item>
          <span>{{address.pretty()}}</span>
        </mat-list-item>
        <mat-divider></mat-divider>
      </ng-container>
    </mat-list>
    <p class="empty" *ngIf="!state.addresses.length">{{translation.empty[lang]}}</p>
  </mat-card>
</ng-template>