<mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav [mode]="mode.value">
    <p><button mat-button (click)="sidenav.toggle()">Plan Select</button>
    <p>
      <mat-radio-group class="example-radio-group" [formCOntrol]="mode">
        <label>Mode:</label>
        <mat-radio-button value="free">Free</mat-radio-button>>
        <mat-radio-button value="Standard">Standard</mat-radio-button>
      </mat-radio-group>>
    </p>
  </mat-sidenav>

  <mat-sidenav-content>
    <p><button mat-button (click)="sidenav.toggle()">Free</button>
    <p>
      <mat-radio-group class="example-radio-group" [formControl]="mode">
        <label>Mode:</label>
        <mat-radio-button value="free">Free</mat-radio-button>
        <mat-radio-button value="standard">Standard</mat-radio-button>
      </mat-radio-group>
    </p>
  </mat-sidenav-content>
</mat-sidenav-container>
