<div fxLayout="row">
  <h2 mat-dialog-title>{{(contacts$ | async)[id].name}}</h2>
  <span class="fill-remaining-space"></span>
  <button mat-icon-button color="accent" (click)="updateContact()">
    <mat-icon>edit</mat-icon>
  </button>
</div>
<mat-dialog-content>
  <mat-list *ngIf=" (contacts$ | async)[id].nem && (contacts$ | async)['nem'].length ">
    <h3 mat-subheader>nem</h3>
    <mat-divider></mat-divider>
    <ng-container *ngFor="let nem of (contacts$ | async)['nem']; let i = index">
      <mat-list-item>
        <div fxFlex="50">{{nem.name}}</div>
        <div fxFlex="50" class="address">{{nem.address}}</div>
      </mat-list-item>
      <mat-divider></mat-divider>
    </ng-container>
  </mat-list>
  <p *ngIf="(contacts$ | async)[id].memo">{{(contacts$ | async)[id].memo}}</p>
</mat-dialog-content>
<mat-dialog-actions>
  <span class="fill-remaining-space"></span>
  <button mat-button mat-dialog-close color="accent">OK</button>
</mat-dialog-actions>