<div fxLayout="row" fxLayoutAlign="center center">
  <h3>{{translation.balance[lang]}}</h3>
  <span class="fill-remaining-space"></span>
  <mat-menu #currencyMenu="matMenu" [overlapTrigger]="false">
    <button mat-menu-item (click)="changeCurrency('USD')">
      USD
    </button>
    <button mat-menu-item (click)="changeCurrency('JPY')">
      JPY
    </button>
    <button mat-menu-item (click)="changeCurrency('BTC')">
      BTC
    </button>
  </mat-menu>
  <div class="right">
    <button mat-button [matMenuTriggerFor]="currencyMenu">
      {{quoteCurrency$ | async}}
    </button>
  </div>
  <button mat-icon-button color="accent" (click)="load(true)" [disabled]="loading$ | async">
    <mat-icon>refresh</mat-icon>
  </button>
</div>
<mat-card *ngIf="balance$ | async as state">
  <mat-spinner [diameter]="60" *ngIf="loading$ | async; else loaded"></mat-spinner>
  <ng-template #loaded>
    <app-assets-list [assets]="state.assets"></app-assets-list>
  </ng-template>
</mat-card>