<ng-container *ngIf="state$ | async as state">
  <div fxLayout="row">
    <span class="fill-remaining-space"></span>
    <button mat-icon-button color="accent" (click)="load(true)">
      <mat-icon>refresh</mat-icon>
    </button>
  </div>
  <mat-spinner *ngIf="state.loading; else loaded"></mat-spinner>
  <ng-template #loaded>
    <ng-container *ngFor="let transaction of state.transactions">
      <app-transaction [transaction]="transaction"></app-transaction>
    </ng-container>
    <p *ngIf="!state.transactions.length" class="empty">{{translation.noTransaction[lang]}}</p>
  </ng-template>
</ng-container>