service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{user} {
      allow read, update: if request.auth.uid == user;
      allow create: if request.auth.uid != null;

      match /contacts/{contact} {
        allow read, write: if request.auth.uid == user;
      }

      match /wallets/{wallet} {
        allow read, write: if request.auth.uid == user;
      }
    }

    //match /users/{document=**} {
    //  allow read, write: if get(/databases/$(database)/documents/users/$(request.auth.uid)).data.admin == true
    //}

    match /rates/rate {
      allow read;
    }
  }
}