<mat-sidenav-container>
  <mat-sidenav></mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar class="mat-elevation-z4 top-toolbar">
      <button mat-icon-button (click)="back()">
        <mat-icon>arrow_back</mat-icon>
      </button>
      <span>{{translation.transfer[lang]}}</span>
      <span class="fill-remaining-space"></span>
      <button mat-icon-button routerLink="/transactions/scan">
        <mat-icon>center_focus_strong</mat-icon>
      </button>
    </mat-toolbar>
    <div class="mat-typography body-container">
      <mat-spinner *ngIf="loading$ | async; else loaded"></mat-spinner>
      <ng-template #loaded>
        <form #form="ngForm" (ngSubmit)="transfer()">
          <h3>{{translation.recipient[lang]}}</h3>
          <mat-card>
            <app-nem-address-input fxFill [(ngModel)]="forms.recipient" name="recipient" placeholder="{{translation.recipient[lang]}}"
              required></app-nem-address-input>
          </mat-card>
          <br />
          <h3>{{translation.message[lang]}}</h3>
          <mat-card>
            <mat-form-field fxFill>
              <input matInput placeholder="{{translation.message[lang]}}" [(ngModel)]="forms.message" name="message"
                [required]="forms.encrypt">
              <mat-slide-toggle fxFill matSuffix [(ngModel)]="forms.encrypt" name="encrypt" [disabled]="!(account$ | async) || !(recipientPublicAccount$ | async)">{{translation.encryption[lang]}}</mat-slide-toggle>
            </mat-form-field>
          </mat-card>
          <br />
          <div fxLayout="row">
            <h3>{{translation.assets[lang]}}</h3>
            <span class="fill-remaining-space"></span>
          </div>
          <ng-container *ngFor="let asset of forms.transferAssets; let i = index">
            <mat-card>
              <div fxLayout="row">
                <span class="fill-remaining-space"></span>
                <button mat-icon-button color="warn" type="button" (click)="deleteTransferAsset(i)">
                  <mat-icon>clear</mat-icon>
                </button>
              </div>
              <app-assets-list [title]="translation.balance[lang]" [assets]="[asset.balance]"></app-assets-list>
              <mat-form-field class="fill-remaining-space" fxFill>
                <input matInput color="accent" placeholder="{{translation.amount[lang]}}" [(ngModel)]="asset.amount"
                  name="asset{{i}}-amount" required pattern="\d+(\.\d+)?" />
              </mat-form-field>
            </mat-card>
          </ng-container>
          <br />
          <div fxLayout="row">
            <span class="fill-remaining-space"></span>
            <button mat-raised-button type="button" [disabled]="form.invalid" (click)="shareInvoice()">{{translation.share[lang]}}</button>
            <button mat-raised-button color="accent" [disabled]="form.invalid || !(account$ | async)" (click)="transfer()">{{translation.transfer[lang]}}</button>
          </div>
        </form>
      </ng-template>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>