<div fxLayout="row">
  <span>{{contact?.name}}</span>
  <span class="fill-remaining-space"></span>
  <button mat-icon-button color="warn" (click)="delete.emit()">
    <mat-icon>delete</mat-icon>
  </button>
  <button mat-icon-button color="accent" (click)="edit.emit()">
    <mat-icon>edit</mat-icon>
  </button>
</div>
<mat-list *ngIf="contact?.nem?.length">
  <h3 mat-subheader>nem</h3>
  <mat-divider></mat-divider>
  <ng-container *ngFor="let nem of contact!.nem">
    <mat-list-item>
      <span matLine>{{nem.name}}</span>
      <span matLine>{{nem.address}}</span>
    </mat-list-item>
    <mat-divider></mat-divider>
  </ng-container>
</mat-list>
<p *ngIf="contact?.memo">{{contact?.memo}}</p>