<mat-sidenav-container>
  <mat-sidenav></mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar class="mat-elevation-z4 top-toolbar">
      <button mat-icon-button>
        <mat-icon>account_balance_wallet</mat-icon>
      </button>
      <span>{{translation.wallets[global.lang]}}</span>
      <span class="fill-remaining-space"></span>
      <mat-menu #langMenu="matMenu" [overlapTrigger]="false">
        <button mat-menu-item (click)="global.lang = 'en'">
          English
        </button>
        <button mat-menu-item (click)="global.lang = 'ja'">
          日本語
        </button>
      </mat-menu>
      <button mat-icon-button [matMenuTriggerFor]="langMenu" yPosition="below">
        {{global.lang}}
      </button>
    </mat-toolbar>
    <div class="mat-typography body-container">
      <mat-spinner *ngIf="loading; else loaded"></mat-spinner>
      <ng-template #loaded>
        <mat-card>
          <mat-list>
            <mat-divider></mat-divider>
            <ng-container *ngFor="let wallet of wallets; let i = index">
              <mat-list-item>
                <mat-icon mat-list-icon *ngIf="!wallet.local" color="primary">cloud_done</mat-icon>
                <mat-icon mat-list-icon *ngIf="wallet.local" color="warn">cloud_off</mat-icon>
                <span matLine>{{wallet.name}}</span>
                <span matLine>{{wallet.nem}}</span>
                <span class="fill-remaining-space"></span>
                <span>
                  <button mat-icon-button color="warn" matTooltip="{{translation.localNotFound[global.lang]}}" (click)="importPrivateKey()"
                    *ngIf="!wallet.wallet">
                    <mat-icon>warning</mat-icon>
                  </button>
                </span>
                <span>
                  <button mat-icon-button color="warn" matTooltip="{{translation.unavailablePlan[global.lang]}}" *ngIf="clouds > 1 && !plan">
                    <mat-icon>warning</mat-icon>
                  </button>
                </span>
                <span>
                  <button mat-icon-button color="accent" (click)="enterWallet(i)" *ngIf="clouds == 1 || plan">
                    <mat-icon>launch</mat-icon>
                  </button>
                </span>
                <span>
                  <mat-menu #walletMenu="matMenu" [overlapTrigger]="false">
                    <button mat-menu-item (click)="renameWallet(i)">
                      {{translation.rename[global.lang]}}
                    </button>
                    <button mat-menu-item (click)="backupWallet(i)" [disabled]="!wallet.wallet">
                      {{translation.backup[global.lang]}}
                    </button>
                    <button mat-menu-item (click)="deleteWallet(i)">
                      {{translation.delete[global.lang]}}
                    </button>
                  </mat-menu>
                  <button mat-icon-button [matMenuTriggerFor]="walletMenu" yPosition="below">
                    <mat-icon>more_vert</mat-icon>
                  </button>
                </span>
              </mat-list-item>
              <mat-divider></mat-divider>
            </ng-container>
          </mat-list>
        </mat-card>
        <br />
        <div fxLayout="row">
          <span class="fill-remaining-space"></span>
          <button mat-raised-button color="accent" (click)="addWallet()">{{translation.addWallet[global.lang]}}</button>
        </div>
      </ng-template>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>