<mat-sidenav-container>
  <mat-sidenav></mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar class="mat-elevation-z4 top-toolbar">
      <button mat-icon-button>
        <mat-icon>account_balance_wallet</mat-icon>
      </button>
      <span>{{translation.wallets[lang]}}</span>
      <span class="fill-remaining-space"></span>
      <app-language-menu></app-language-menu>
    </mat-toolbar>
    <div class="mat-typography body-container">
      <mat-spinner *ngIf="loading; else loaded"></mat-spinner>
      <ng-template #loaded>
        <mat-card>
          <mat-list>
            <mat-divider></mat-divider>
            <ng-container *ngFor="let id of walletIds">
              <mat-list-item>
                <mat-icon mat-list-icon *ngIf="!wallets[id].local" color="primary">cloud_done</mat-icon>
                <mat-icon mat-list-icon *ngIf="wallets[id].local" color="warn">cloud_off</mat-icon>
                <span matLine>{{wallets[id].name}}</span>
                <span matLine>{{wallets[id].nem}}</span>
                <span class="fill-remaining-space"></span>
                <span>
                  <button mat-icon-button color="warn" (click)="openSnackBar('import')" *ngIf="!wallets[id].wallet">
                    <mat-icon>warning</mat-icon>
                  </button>
                </span>
                <span>
                  <button mat-icon-button color="warn" (click)="openSnackBar('plan')" *ngIf="!wallets[id].local && clouds > 1 && !plan">
                    <mat-icon>warning</mat-icon>
                  </button>
                </span>
                <span>
                  <button mat-icon-button color="accent" (click)="enterWallet(id)" *ngIf="wallets[id].local || clouds == 1 || plan">
                    <mat-icon>launch</mat-icon>
                  </button>
                </span>
                <span>
                  <mat-menu #walletMenu="matMenu" [overlapTrigger]="false">
                    <button mat-menu-item (click)="renameWallet(id)">
                      {{translation.rename[lang]}}
                    </button>
                    <button mat-menu-item (click)="backupWallet(id)" *ngIf="wallets[id].wallet">
                      {{translation.backup[lang]}}
                    </button>
                    <button mat-menu-item (click)="importPrivateKey()" *ngIf="!wallets[id].wallet">
                      {{translation.importPrivateKey[lang]}}
                    </button>
                    <button mat-menu-item (click)="deleteWallet(id)">
                      {{translation.delete[lang]}}
                    </button>
                  </mat-menu>
                  <button mat-icon-button [matMenuTriggerFor]="walletMenu" yPosition="below">
                    <mat-icon>more_vert</mat-icon>
                  </button>
                </span>
              </mat-list-item>
              <mat-divider></mat-divider>
            </ng-container>
          </mat-list>
        </mat-card>
        <br />
        <div fxLayout="row">
          <span class="fill-remaining-space"></span>
          <button mat-raised-button color="accent" (click)="addWallet()">{{translation.addWallet[lang]}}</button>
        </div>
      </ng-template>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>