<mat-list>
  <h3 mat-subheader>{{title}}</h3>
  <mat-divider></mat-divider>
  <ng-container *ngFor="let m of _mosaics">
    <mat-list-item matTooltip="{{m.name}}">
      <div mat-list-icon class="background-contain" [ngStyle]="{'background-image': 'url(' + m.imageUrl + ')'}"></div>
      <span mat-line>{{m.name}}</span>
      <small mat-line>{{m.issuer}}</small>
      <span class="fill-remaining-space"></span>
      <span class="right">{{m.amount}}<br />{{m.unit}}</span>
    </mat-list-item>
    <mat-divider></mat-divider>
  </ng-container>
</mat-list>
