<mat-card>
  <div fxLayout="row">
    <mat-icon color="accent" (mouseover)="openSnackBar('confirmed')" *ngIf="confirmed; else unconfirmed">done</mat-icon>
    <ng-template #unconfirmed>
      <mat-icon color="warn" (mouseover)="openSnackBar('unconfirmed')">report_problem</mat-icon>
    </ng-template>
    <mat-icon color="primary" (mouseover)="openSnackBar(icon)">{{icon}}</mat-icon>
    <mat-icon color="accent" (mouseover)="openSnackBar('multisig')" *ngIf="multisig">people</mat-icon>
    <span>{{address}}</span>
  </div>
  <app-assets-list [title]="translation.assets[lang]" [assets]="assets"></app-assets-list>
  <blockquote>{{message}}</blockquote>
  <p>{{date}}</p>
</mat-card>