mat-card {
  margin: 6px 0;
}

.message {
  text-align: center;
}

.unconfirmed {
  color: red;
}
.received {
  color: green;
}
.made {
  color: blue;
}

.unconfirmed, .received, .made {
  display: flex;
  justify-content: center;
  align-items: center;
}
