<mat-toolbar>
  <span class="fill-remaining-space"></span>
  <button mat-icon-button color="accent" (click)="refresh(true)">
    <mat-icon>refresh</mat-icon>
  </button>
</mat-toolbar>
<mat-spinner *ngIf="loading"></mat-spinner>
<mat-list [hidden]="loading">
  <mat-divider></mat-divider>
  <ng-container *ngFor="let address of addresses">
    <mat-list-item>
      <span>{{address}}</span>
    </mat-list-item>
    <mat-divider></mat-divider>
  </ng-container>
  <p class="empty" *ngIf="!addresses || !addresses.length">{{translation.empty[lang]}}</p>
</mat-list>