<mat-sidenav-container>
  <mat-sidenav></mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar class="mat-elevation-z4 top-toolbar">
      <button mat-icon-button (click)="back()">
        <mat-icon>arrow_back</mat-icon>
      </button>
      <span>{{translation.contacts[lang]}}</span>
      <span class="fill-remaining-space"></span>
    </mat-toolbar>
    <mat-toolbar class="mat-elevation-z4 top-toolbar" color="accent" *ngIf="selection.hasValue()">
      <span class="fill-remaining-space"></span>
      <button mat-icon-button (click)="deleteContact()">
        <mat-icon>delete</mat-icon>
      </button>
    </mat-toolbar>
    <div class="mat-typography body-container">
      <mat-card>
        <mat-toolbar>
          <span class="fill-remaining-space"></span>
          <mat-paginator [pageSizeOptions]="[10, 20]" (page)="onPageChanged($event)"></mat-paginator>
          <button mat-icon-button color="accent" (click)="load()">
            <mat-icon>refresh</mat-icon>
          </button>
          <button mat-icon-button color="accent" (click)="createContact()">
            <mat-icon>add</mat-icon>
          </button>
        </mat-toolbar>
        <mat-spinner *ngIf="loading$"></mat-spinner>
        <div class="table-container" [hidden]="loading$">
          <table mat-table [dataSource]="dataSource">
            <ng-container matColumnDef="select">
              <th mat-header-cell *matHeaderCellDef>
                <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()"
                  [indeterminate]="selection.hasValue() && !isAllSelected()">
                </mat-checkbox>
              </th>
              <td mat-cell *matCellDef="let row">
                <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
                  [checked]="selection.isSelected(row)">
                </mat-checkbox>
              </td>
            </ng-container>
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef>{{translation.name[lang]}}</th>
              <td mat-cell *matCellDef="let element">{{element.contact.name}}</td>
            </ng-container>
            <ng-container matColumnDef="tags">
              <th mat-header-cell *matHeaderCellDef></th>
              <td mat-cell *matCellDef="let element">
              </td>
            </ng-container>
            <ng-container matColumnDef="action" stickyEnd>
              <th mat-header-cell *matHeaderCellDef></th>
              <td mat-cell *matCellDef="let element">
                <button mat-icon-button color="accent" (click)="showContact(element.id)">
                  <mat-icon>launch</mat-icon>
                </button>
              </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
          <p *ngIf="!dataSource || !dataSource.data.length" class="empty">{{translation.empty[lang]}}</p>
        </div>
      </mat-card>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>