<mat-sidenav-container>
  <mat-sidenav></mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar class="mat-elevation-z4 top-toolbar">
      <button mat-icon-button (click)="back()">
        <mat-icon>arrow_back</mat-icon>
      </button>

      <span>{{translation.contacts[lang]}}</span>
      <span class="fill-remaining-space"></span>
      <button mat-icon-button (click)="refresh(true)" [disabled]="loading">
        <mat-icon>refresh</mat-icon>
      </button>
    </mat-toolbar>
    <div class="mat-typography body-container">
      <mat-spinner *ngIf="loading; else loaded"></mat-spinner>
      <ng-template #loaded>
        <ng-container *ngFor="let contactId of contactIds;">
          <mat-card>
            <mat-toolbar>
              <span>
                <button mat-icon-button color="warn" (click)="deleteContact(contactId)">
                  <mat-icon>close</mat-icon>
                </button>
              </span>
              <span>{{contacts[contactId].name}}</span>
              <span>
                <button mat-icon-button color="accent" (click)="updateContact(contactId)">
                  <mat-icon>edit</mat-icon>
                </button>
              </span>
              <span class="fill-remaining-space"></span>
              <span>
                <button mat-icon-button color="accent" (click)="createContactElement(contactId)">
                  <mat-icon>add</mat-icon>
                </button>
              </span>
            </mat-toolbar>
            <mat-card-content>
              <mat-list *ngIf="contacts[contactId].nem.length">
                <h3 mat-subheader>nem</h3>
                <mat-list-item *ngFor="let n of contacts[contactId].nem; let i = index">
                  <span>{{n}}</span>
                  <span class="fill-remaining-space"></span>
                  <span>
                    <button mat-icon-button color="accent" (click)="sendNem(n)">
                      <mat-icon>send</mat-icon>
                    </button>
                  </span>
                  <span>
                    <button mat-icon-button color="warn" (click)="deleteContactElement('nem', contactId, i)">
                      <mat-icon>close</mat-icon>
                    </button>
                  </span>
                </mat-list-item>
              </mat-list>
            </mat-card-content>
          </mat-card>
          <br />
        </ng-container>
        <p class="empty" *ngIf="!contactIds.length">{{translation.empty[lang]}}</p>
      </ng-template>
    </div>
    <button mat-fab color="accent" class="floating-action-button" (click)="createContact()">
      <mat-icon>add</mat-icon>
    </button>
  </mat-sidenav-content>
</mat-sidenav-container>