<mat-drawer-container>
  <mat-drawer></mat-drawer>
  <mat-drawer-content>
    <mat-toolbar class="mat-elevation-z4 top-toolbar">
      <button mat-icon-button (click)="back()">
        <mat-icon>arrow_back</mat-icon>
      </button>
      <span>{{translation.privacyPolicy[lang]}}</span>
      <span class="fill-remaining-space"></span>
    </mat-toolbar>
    <div class="mat-typography body-container">
      <iframe [src]="safeSite" class="mat-elevation-z1"></iframe>
    </div>
  </mat-drawer-content>
</mat-drawer-container>