<mat-toolbar color="primary" class="mat-elevation-z4 top-toolbar">
  <button mat-icon-button (click)="global.back()">
    <mat-icon>arrow_back</mat-icon>
  </button>
  <span>{{translation.history[global.lang]}}</span>
  <span class="fill-remaining-space"></span>
  <button mat-icon-button (click)="refresh()" [disabled]="loading">
    <mat-icon>refresh</mat-icon>
  </button>
</mat-toolbar>
<div class="mat-typography body-container">
  <mat-spinner *ngIf="loading; else loaded"></mat-spinner>
  <ng-template #loaded>
    <app-transaction *ngFor="let t of transactions" [transaction]="t"></app-transaction>
    <p class="empty" *ngIf="!transactions.length">{{translation.noTransaction[global.lang]}}</p>
  </ng-template>
</div>