<ng-template #temp>
  <h3 mat-subheader *ngIf="title">{{title}}</h3>
  <mat-menu #currency="matMenu">
    <button mat-menu-item (click)="changeCurrency('JPY')">
      JPY
    </button>
    <button mat-menu-item (click)="changeCurrency('USD')">
      USD
    </button>
    <button mat-button [matMenuTriggerFor]="currency">translation.currency[lang]</button>
  </mat-menu>
  <mat-divider></mat-divider>
  <ng-container *ngFor="let asset of assets$ | async">
    <mat-list-item (click)="clickAsset.emit(asset.name)">
      <img mat-list-icon src="{{asset.imageURL}}" />
      <span mat-line>{{asset.name}}</span>
      <small mat-line>{{asset.issuer}}</small>
      <span class="fill-remaining-space"></span>
      <span class="right">{{asset.amount}}<br />{{asset.unit}}</span>
      <div [ngIf]=asset.rate>
        <span class="left">{{asset.rate}} <br />{{asset.qupteCurrency}</span>
      </div>
    </mat-list-item>
    <mat-divider></mat-divider>
  </ng-container>
</ng-template>
<mat-list *ngIf="!nav">
  <ng-container *ngTemplateOutlet="temp"></ng-container>
</mat-list>
<mat-nav-list *ngIf="nav">
  <ng-container *ngTemplateOutlet="temp"></ng-container>
</mat-nav-list>