<ng-template #temp>
  <mat-menu #currencyMenu="matMenu" [overlapTrigger]="false">
    <button mat-menu-item (click)="changeCurrency('USD')">
      USD
    </button>
    <button mat-menu-item (click)="changeCurrency('JPY')">
      JPY
    </button>
  </mat-menu>
  <div class="right button" *ngIf="quoteCurrency$ | async">
    <button [matMenuTriggerFor]="currencyMenu" yPosition="below">
      {{translation.quoteCurrency[lang]}}
    </button>
  </div>
  <h3 mat-subheader *ngIf="title">{{title}}</h3>
  <mat-divider></mat-divider>
  <ng-container *ngFor="let asset of assets$ | async">
    <mat-list-item (click)="clickAsset.emit(asset.name)">
      <img mat-list-icon src="{{asset.imageURL}}" />
      <span mat-line>{{asset.name}}</span>
      <small mat-line>{{asset.issuer}}</small>
      <span class="fill-remaining-space"></span>
      <span *ngIf="asset.unit=='XEM'" mat-line class="right">{{asset.amount}} {{asset.unit}}</span>
      <span *ngIf="asset.unit!='XEM'" mat-line class="right">
        <span>{{asset.amount}}</span>
        <span class="rate">{{asset.unit}}</span>
      </span>
      <span *ngIf="asset.rate" mat-line class="right rate">{{asset.rate}} {{quoteCurrency$ | async}}</span>
    </mat-list-item>
    <mat-divider></mat-divider>
  </ng-container>
</ng-template>
<mat-list *ngIf="!nav">
  <ng-container *ngTemplateOutlet="temp"></ng-container>
</mat-list>
<mat-nav-list *ngIf="nav">
  <ng-container *ngTemplateOutlet="temp"></ng-container>
</mat-nav-list>