<mat-sidenav-container>
  <mat-sidenav></mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar class="mat-elevation-z4 top-toolbar">
      <button mat-icon-button>
        <mat-icon>account_balance_wallet</mat-icon>
      </button>
      <span>{{translation.wallets[lang]}}</span>
      <span class="fill-remaining-space"></span>
      <app-language-menu></app-language-menu>
    </mat-toolbar>
    <div class="mat-typography body-container">
      <mat-spinner *ngIf="loading$ | async; else loaded"></mat-spinner>
      <ng-template #loaded>
        <ng-container *ngFor="let id of (state$ | async).ids">
          <mat-card>
            <app-wallet (backup)="backupWallet(id)" (delete)="deleteWallet(id)" (enter)="enterWallet(id)" (import)="importPrivateKey(id)"
              (rename)="renameWallet(id)"></app-wallet>
          </mat-card>
        </ng-container>
        <br />
        <div fxLayout="row">
          <span class="fill-remaining-space"></span>
          <button mat-raised-button color="accent" (click)="addWallet()">{{translation.addWallet[lang]}}</button>
        </div>
      </ng-template>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>