.amount {
  text-align: center;
}

.transfer-button {
  position: fixed;
  right: 16px;
  bottom: 16px;
  z-index: 99;
}

.qr {
  display: block;
  margin: 0 auto;
  width: 100%;
  max-width: 300px;
  max-height: 300px;
}

mat-sidenav mat-toolbar .mat-icon-button {
  cursor: default;
}

mat-sidenav mat-nav-list mat-icon {
  color: gray;
}
.mat-list-icon {
  margin-right: 1em;
}
.open-in-new {
  font-size: 12px;
  width: 12px;
  height: 12px;
}