<h3>{{translation.balance[lang]}}</h3>
<mat-card>
  <app-balance></app-balance>
</mat-card>
<br />
<h3>{{translation.yourAddress[lang]}}</h3>
<mat-card>
  <p class="address">{{(currentWallet$ | async).nem}}
    <button mat-icon-button matTooltip="{{translation.copy[lang]}}" (click)="copyAddress()">
     <mat-icon>input</mat-icon>
    </button>
  </p>
  <img class="qr" [src]="qrUrl$ | async" />
</mat-card>
<br />
<h3>{{translation.cosignatoryOf[lang]}}</h3>
<mat-card>
  <app-multisig></app-multisig>
</mat-card>
<br />
<h3>{{translation.history[lang]}}</h3>
<mat-card>
  <app-history></app-history>
</mat-card>