<h3>{{translation.balance[lang]}}</h3>
<app-balance></app-balance>
<br />
<h3>{{translation.yourAddress[lang]}}</h3>
<mat-card>
  <p class="address">{{address$ | async}}
    <button mat-icon-button matTooltip="{{translation.copy[lang]}}" (click)="copyAddress()">
      <mat-icon>input</mat-icon>
    </button>
  </p>
  <img class="qr" [src]="(qrUrl$ | async) || ''" />
</mat-card>
<br />
<h3>{{translation.cosignatoryOf[lang]}}</h3>
<app-multisig></app-multisig>
<br />
<h3>{{translation.history[lang]}}</h3>
<app-history></app-history>