<mat-sidenav-container>
  <mat-sidenav></mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar class="mat-elevation-z4 top-toolbar">
      <button mat-icon-button>
        <mat-icon>account_balance_wallet</mat-icon>
      </button>
      <span>{{translation.wallets[global.lang]}}</span>
      <span class="fill-remaining-space"></span>
      <mat-menu #langMenu="matMenu" [overlapTrigger]="false">
        <button mat-menu-item (click)="global.lang = 'en'">
          English
        </button>
        <button mat-menu-item (click)="global.lang = 'ja'">
          日本語
        </button>
      </mat-menu>
      <button mat-icon-button [matMenuTriggerFor]="langMenu" yPosition="below">
        {{global.lang}}
      </button>
    </mat-toolbar>
    <div class="mat-typography body-container">
      <mat-spinner *ngIf="loading; else loaded"></mat-spinner>
      <ng-template #loaded>
        <div fxLayout="row" fxLayoutAlign="center">
          <mat-card fxFlex="50">
            <mat-nav-list>
              <mat-divider></mat-divider>
              <ng-container *ngFor="let wallet of wallets">
                <mat-list-item>
                  <mat-icon mat-list-icon>
                    <ng-container *ngIf="wallet.wallet">cloud_done</ng-container>
                    <ng-container *ngIf="!wallet.wallet">cloud_off</ng-container>
                  </mat-icon>
                  <span matLine>{{wallet.name}}</span>
                  <span matLine>{{wallet.nem}}</span>
                  <span class="fill-remaining-space"></span>
                  <span>
                    <mat-menu #walletMenu="matMenu" [overlapTrigger]="false">
                      <button mat-menu-item>
                        {{translation.backup[global.lang]}}
                      </button>
                      <button mat-menu-item>
                        {{translation.delete[global.lang]}}
                      </button>
                    </mat-menu>
                    <button mat-icon-button>
                      <mat-icon>more_vert</mat-icon>
                    </button>
                  </span>
                </mat-list-item>
                <mat-divider></mat-divider>
              </ng-container>
            </mat-nav-list>
          </mat-card>
        </div>
      </ng-template>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>